
# Определяем список директорий, которые будут синхронизированы
root = {{unison_dir}}
root = "ssh://root@{{dest_ip}}/{{unison_dir}}"


# Чтобы выполнить синхронизацию автоматически, без интерактивного взаимодействия
# с пользователем необходимо использовать опцию "-batch". В случае конфликта,
# выполнение будет прервано с выводом соответствующего уведомления.
batch = {{ item.batch | default(true) | to_nice_json }}

# С опцией -auto, Unison будет автоматически синхронизировать файлы, у которых нет конфликтов.
auto = {{ item.auto | default(true) | to_nice_json }}

# В случаи конфликта нужно автоматически перезаписывать старые файлы более новыми файлами.
force = newer
